*{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

:root {
  --size16: min(1.11vw, 16px);
  --size20: min(1.38vw, 20px);
  --size25: min(1.73vw, 25px);
  --size27: var(1.875vw, 27px);
  --size30: min(2.08vw, 30px);
  --size32: min(2.22vw ,32px);
  --size35: min(2.43vw, 35px);
  --size40: min(2.77vw, 40px);
  --size42: min(2.9vw, 42px);
  --size45: min(3.1vw, 45px);
  --size50: min(3.47vw, 50px);
  --size60: min(4.16vw, 60px);
  --size70: min(4.86vw ,70px)
}


body{
  color: #707070;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marugo{
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 700;
  font-style: normal;
}


header{
  display: grid;
  grid-template-columns: 0 1fr;
  width: 100%;
  justify-content: space-between;
  padding: 54px 95px;
  /* padding-top: 54px; */
  box-sizing: border-box;
  background-color: #FCF4E8;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.logo{
  /* width: 30%; */
  height: 42px;
  line-height: 42px;
  font-size: var(--size42);
}

.header-item{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  float: right;
  height: 42px;
  line-height: 42px;
  font-size: var(--size20);
}

.header-text{
  padding-right: 40px;
}

.header-text:nth-last-child(1){
  padding: 0;
}

/* -----main----- */
main{
  padding-top: 150px;
  overflow-x: hidden;
  padding-bottom: 120px;
}
/* -----index----- */
.index {
  position: relative;
  background: #FCF4E8;
  height: auto;
  padding-bottom: 120px;
}

.attention-img{
  width: min(92.1vw ,1327px);
  height: min(52vw ,750px);
  background-color: #D8D8D8;
  margin: 0 auto;
  border-radius: 50px;
}
.attention-img img{
  width: 100%;
}

.about-wrap{
  width: 100%;
  margin-top: min(19.8vw,286px);
  padding-left: min(6.25vw ,90px);
  display: flex;
  gap: var(--size60);
  box-sizing: border-box;
  justify-content: space-between;
}

.about-text-wrap{
  display: flex;
  flex-direction: column;
}
.about-title{
  font-size: var(--size40);
}

.about-text{
  width: min(38.2vw ,550px);
}

.about-img{
  width: min(50vw,720px);
  height: min(35vw,504px);
  background-color: #D8D8D8;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.wave {
  position: absolute;
  height: 100px;
  width: 100%;
  background: #FCF4E8;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave::before {
  width: 55%;
  height: 100%;
  background-color: #FCF4E8;
  right: -1.5%;
  top: 40%;
}
.wave::after {
  width: 55%;
  height: 109%;
  background-color: #fff;
  left: -1.5%;
  top: 60%;
}


/* -----top-service----- */
.top-service{
  padding-top: 100px;
}

.service-title-wrap{
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
.service-title{
  font-size: var(--size40);
}
.service-text{
  margin-top: min(6vw ,87px);
  font-size: var(--size16);
  width: min(53.6vw,772px);
  line-height: var(--size27);
}

.service-content-wrap{
  /* width: 100%; */
  padding: 0 min(7vw,75px);
  display: flex;
  justify-content: space-evenly;
  gap: 60px 68px;
  flex-wrap: wrap;
  margin-top: min(9.3vw,134px);
}
.service-content{
  width: min(42.4vw, 611px);
  text-align: center;
}
.service-content:nth-child(even){
  padding-top: 60px;
}
.content-title{
  font-size: var(--size32);
  color: #EF8123;
}
.contetn-img{
  width: 100%;
  background-color: #D8D8D8;
  border-radius: 51px;
  height: min(24.3vw,350px);
}
.content-text{
  font-size: var(--size16);
  line-height: var(--size27);
  margin-top: var(--size45);
}
.btn{
  width: min(26vw ,374px);
  height: min(4.09vw ,59px);
  background-color: #F8AC00;
  border: 3px solid #EF8123;
  border-radius: 42px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.content-btn{
  margin-top: var(--size70);
}
.btn-text{
  font-size: var(--size16);
  line-height: var(--size27);
  line-height: min(4.09vw ,59px);
  position: relative;
}
.btn-text span{
  position: absolute;
  right: 25px;
}

/* -----insta----- */
.instagram{
  position: relative;
  background: #FCF4E8;
  height: 50vh;
}

.footer-wave {
  position: absolute;
  height: 100px;
  width: 100%;
  background: #FCF4E8;
  bottom: 0;
}

.footer-wave::before, .footer-wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.footer-wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.footer-wave::after {
  width: 55%;
  height: 100%;
  background-color: #FCF4E8;
  left: -1.5%;
  top: 40%;
}


