.about-CEO-wrap {
  width: 100%;
  margin-top: min(19.8vw, 286px);
  /* padding-left: min(6.25vw, 90px); */
  padding: 0 6.25vw;
  display: flex;
  gap: var(--size60);
  box-sizing: border-box;
  justify-content: space-between;
}

.about-CEO-text-wrap {
  display: flex;
  flex-direction: column;
}

.about-CEO-title {

}
.CEO-subTitle{
  font-size: var(--size16);
  line-height: var(--size27);
}
.CEO-title-name{
  font-size: var(--size32);
  line-height: var(--size54);
}

.about-CEO-text {
  /* width: min(38.2vw, 550px); */
  width: 38.2vw;
  margin-top: 32px;
  font-size: var(--size16);
  line-height: var(--size27);
}

.about-CEO-img {
  width: min(586px,40.7vw);
  height: min(28.47vw, 410px);
  /* background-image: url(../top/00.webp); */
  background-color: #D8D8D8;
  background-position: center;
  background-size: cover;
}

.company-wave {
  position: absolute;
  height: 100px;
  width: 100%;
  background: #FCF4E8;
  bottom: 0;
}

.company-wave::before,
.company-wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.company-wave::before {
  width: 55%;
  height: 109%;
  background-color: #F8AC00;
  right: -1.5%;
  top: 60%;
}

.company-wave::after {
  width: 55%;
  height: 100%;
  background-color: #FCF4E8;
  left: -1.5%;
  top: 40%;
}

@media screen and (max-width: 768px) {
  .attention-img {
    width: auto;
    height: 540px;
    margin: 0 12px;
    border-radius: 24px;
  }

  .about-CEO-wrap {
    flex-direction: column;
    padding-left: 0;
    padding: 0 12px;
  }

  .CEO-subTitle{
    font-size: 16px;
    line-height: 27px;
  }
  .CEO-title-name{
    font-size: 32px;
    line-height: 54px;
  }
  
  .about-CEO-text {
    width: auto;
    margin-top: 24px;
    font-size: 16px;
    line-height: 27px;
  }
  

  .about-CEO-title {
    font-size: 32px;
    line-height: 40px;
  }

  .about-CEO-img {
    width: auto;
    height: 504px;
  }

  .company-CEO-wave {
    height: 40px;
  }
}

.philosophy{
  text-align: center;
  margin-top: min(8.68vw ,125px);
}

.philosophy div .title{
  font-size: var(--size40);
  line-height: min(4.72vw,68px);
}

.philosophy div .text{
  font-size: var(--size16);
  line-height: var(--size27);
  margin-top: 30px;
}

.management-philosophy-title, .company-policy-title {
  margin-top: var(--size30);
}

@media screen and (max-width: 768px) {
  .philosophy{
    padding: 0 12px;
  }
  .philosophy div .title{
    font-size: 40px;
    line-height: 68px;
  }
  .philosophy div .text{
    font-size: 16px;
  line-height: 27px;
  }
  .management-philosophy-title, .company-policy-title {
    margin-top: 30px;
  }
}

.company-overview{
  margin-top: min(9.72vw,140px);
  padding-bottom: min(6.94vw,100px);
}

.company-table{
  border-collapse: collapse;
  margin: 0 auto;
  width: 70.27vw;
  font-weight: bold;
}
.company-table tr{
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.company-table tr td{
  padding: 39px 0;
}
.company-table tr td:nth-child(1){
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .company-table tr{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #707070;
    border-bottom: none;
  }
  .company-table tr:last-child{
    border-bottom: 1px solid #707070;
  }
  .company-table tr td{
    padding: 10px 0;
  }
  .company-table tr td:nth-child(2){
    padding-left: 25px;
  }
}